<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/assets/favicon.svg" sizes="any" type="image/svg+xml">
  <title>Dashboard</title>
</head>

<body>
  <div id="root"></div>
</body>

</html>
